

<script>
import Vue from 'vue';
import VueResource from 'vue-resource';

Vue.use(VueResource);

export default {
  name: 'toolbarapp',
  data () {
    return {
      info: gdkInfo
    }
  },

  watch: {
    info: {
      handler: function(info) {
        console.log('Info Changed : ',JSON.stringify(info));
        Vue.http.put('/gdk.js.api/config',info).then(response => {
          // Saved -> Refresh
          document.location.reload(true);
        },response=> {
          console.error('Not able to save Config');
        });
      },
      deep:true
    }
  },

  methods: {
    disableReplacement() {
      
    }
  }
}
</script>

<template>
  <div id="gdk-js-toolbar">
    <div class="gdk-toolbar-name">GDK-JS Toolbar</div>
    <div class="container-fluid container-limited">
      <div class="row">
        <div class="col-sm-1">
          Proxy Target :
        </div>
        <div class="col-sm-2">
          <select class="form-control" v-model="info.currentTarget">
            <option{{info.currentTarget}}</option>
            <option v-for="target in info.targets" v-bind:value="target.url">
              {{ target.title }}
            </option>
          </select>
        </div>
        <div class="col-sm-2 text-center">
          <input type="checkbox" id="localjs-checkbox" v-model="info.redirectJS">
          <label for="localjs-checkbox" title="Redirect GitLab JS to local Webpack Server">Local JS</label>
        </div>
        <div class="col-sm-2 text-center">
          <input type="checkbox" id="localcss-checkbox" v-model="info.redirectCSS">
          <label for="localcss-checkbox" title="Redirect GitLab CSS to local Webpack Server">Local CSS</label>
        </div>
        <div class="col-sm-5 text-right">

          <a href=''>Disable Replacement</a>
           |
          <a href=''>Hide Toolbar</a> | Original Load {{info.timingTotal}}ms
        </div>
      </div>
    </div>
  </div>
</template>
