
#gdk-js-toolbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 32px;
    background: #fafafa;
    border-top: 1px dashed #fca326;
    z-index: 10;
    padding:5px;
}

#gdk-js-toolbar label {
  font-weight: normal;
}

#gdk-js-toolbar select {
  height: 23px;
  padding: 2px;
  font-size: 12px;
  margin-top: -1px;
}

.gdk-toolbar-name {
  float:left;
  color:#999;
}

